/* Add more styles to make the quiz page visually appealing for children */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  background-size:100%;
  background-position:center;
}
button {
  margin-top: 10px;
  background-color: #04AA6D;
  color: white;
  padding: 7px 25px;
  border-radius: 20%;
  cursor: pointer;
}
.border{
  width: 100%;
        height: 100vh;
        background-image: url("../assets/9161244.png");
        background-size: 100%;
        background-position-y: 45.5rem;
}
/* YourQuizComponent.css */
/* Kontainer Kuis */
.quiz-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url("../assets/9161244.png");
  background-size: 100%;
  background-position:center;
  height: auto;
}

/* Pertanyaan */
.quiz-question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Opsi Jawaban */
.quiz-options {
  list-style: none;
  padding: 0;
}

.quiz-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.quiz-option:hover {
  background-color: rgba(157, 152, 252, 0.31);
}

.quiz-option input[type="radio"] {
  margin-right: 10px;
}

/* Opsi yang Dipilih */
.quiz-option.selected {
  background-color: rgba(157, 152, 252, 0.31); /* Change to blue color */
  box-shadow: 0 0 5px rgba(113, 88, 252, 0.854);
}

/* Ikon Timer */
.quiz-timer {
  font-size: 16px;
  margin-right: 5px;
}

/* Umpan Balik Benar/Salah */
.quiz-feedback {
  font-size: 14px;
  color: green; /* Warna jawaban benar */
}

.quiz-feedback.incorrect {
  color: red; /* Warna jawaban salah */
}

.quiz-nav-buttons {
  display: flex;
  justify-content: space-between;
  
}
.quiz-nav-buttons button{

  border-radius: 10px;
}




button:hover {
  background-color: #45a049;
}
