@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #f6f8fd;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --primary-color-text: #000000;
}

