.navbar21 {
  position: sticky;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #333;
  z-index: 1000;
  overflow-y: auto;
}

.navbar-header1 {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #555;
}

.logo1 {
  width: 125px;
  height: 100px;
}

.school-name1 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: medium;
}
.menu-icon1 {
  width: 20px; /* Atur ukuran ikon */
  height: 20px; /* Atur ukuran ikon */
  margin-right: 10px;
}

.menu-items1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items1 li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.menu-items1 a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  position: relative; /* Menambahkan posisi relatif */
}

.menu-items1 a:hover {
  background-color: #555;
}

.menu-items1 .active::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
