.tambah-user-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 2rem;
}
.tambahUser{
  display: flex;
  justify-content:space-around;
  
  height: 100%;
  width: 100%;
  align-items: center;
}
.user-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  margin-top: 20px;
  color: #21de60;
}

/* hapus user */
/* HapusUser.css */

.hapus-user-container {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 2rem;
}

.hapus-user-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hapus-user-container label {
  display: block;
  margin-bottom: 10px;
}

.hapus-user-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hapus-user-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.hapus-user-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hapus-user-container p {
  margin-bottom: 10px;
}
/* hapus user end */

/****************************************************************************/

/* Container untuk seluruh halaman */
.tambah-kuis-container {
  display: flex;
}

/* Konten utama */
.tambah-kuis-content {
  flex-grow: 1;
  padding: 20px;
}

/* Container untuk setiap pertanyaan */
.question-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Container untuk setiap pilihan jawaban */
.choice-container {
  margin-bottom: 10px;
}

/* Stil label */
.question-container label,
.choice-container label {
  display: block;
  margin-bottom: 5px;
}

/* Stil input untuk pertanyaan */
.question-container input[type="text"] {
  width: calc(100% - 20px);
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stil input untuk pilihan jawaban */
.choice-container input[type="text"] {
  width: calc(100% - 20px);
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Stil input untuk checkbox */
.choice-container input[type="checkbox"] {
  margin-right: 5px;
}

/* Tombol untuk menambahkan pilihan jawaban */
.add-choice-button,
.add-question-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 1rem;
}
.submit-button{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.remove-question-button{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #e61111;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 1rem;
}

.add-choice-button:hover,
.add-question-button:hover {
  background-color: #0056b3;
}
.submit-button:hover {
  background-color: #058d5b;
}
.remove-question-button:hover {
  background-color: #a50d0d;
}
/* tambah kuis end */


/* Tambah Materi start */
/* .tambah-materi-container */
.tambah-materi-container {
  display: flex;
}

/* .tambah-materi-content */
.tambah-materi-content {
  margin: 20px;
}

/* Form Styling */
.tambah-materi-content form {
  display: flex;
  flex-direction: column;
}

.tambah-materi-content form label {
  margin-bottom: 10px;
}

.tambah-materi-content form input[type="text"],
.tambah-materi-content form select,
.tambah-materi-content form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
}

.tambah-materi-content form button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

/* .add-submateri-button */
.add-submateri-button button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

/* .submit-button */
.submit-button button {
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
}

/* Trash Icon */
.trash-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

/* Submateri Container */
.submateri-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  position: relative;
}

.submateri-container label {
  display: block;
}

.submateri-container:last-child {
  margin-top: 10px;
}

/* Message Styling */
.tambah-materi-content p {
  margin-top: 10px;
  color: green;
}

/* Tambah Materi end*/




.select-container {
  margin-bottom: 20px;
}

.select {
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  font-size: 16px;
}

/*************************** Tambah Materi ******************************************/
.hapus-materi-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 500px; 
  
  margin: 0 auto; /* Pusatkan kotak di tengah */
   /* Warna latar belakang */
  border-radius: 8px; /* Sudut bulat kotak */
  
}

.select-parent-material {
  margin-bottom: 20px;
  padding: 8px;
  width: 100%; /* Atur lebar penuh untuk elemen ini */
}

.submateri-list-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.submateri-list {
  list-style-type: none;
  padding: 0;
}

.submateri-item {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.submateri-item:hover {
  background-color: #f5f5f5;
}

.detail-submateri-container {
  margin-top: 20px;
}

.detail-submateri-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-submateri-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.delete-submateri-btn {
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.delete-submateri-btn:hover {
  background-color: #e63900;
}

.message {
  margin-top: 20px;
  font-style: italic;
}

/* ********************************************************************** */
/* Nilai Page start */
.nilai-page1 {
  font-family: Arial, sans-serif;
  display: flex;
  
}
.nilai-page{
  padding: 20px;
  width: 80%;
}
.nilai-page .pilihan{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.subject-dropdown, .quiz-dropdown {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.subject-dropdown select, .quiz-dropdown select {
  padding: 10px;
  font-size: 16px;
}

.leaderboard-table {
  display: flex;
  justify-content: center;
}

.leaderboard-table table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.leaderboard-table th, .leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #f2f2f2;
}
.low-score td {
  background-color: #ffcccc; /* Light red background */
  color: red; /* Red text color */
}
/* Responsive styles */
@media (max-width: 768px) {
  .nilai-page {
    padding: 10px;
  }

  .subject-dropdown, .quiz-dropdown {
    flex-direction: column;
    align-items: center;
  }

  .subject-dropdown select, .quiz-dropdown select {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .leaderboard-table table {
    width: 100%;
  }

  .leaderboard-table th, .leaderboard-table td {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .leaderboard-table th, .leaderboard-table td {
    font-size: 12px;
    padding: 6px;
  }
}
/* Nilai Page end */
/* ********************************************************************** */






/* ********************************************************************** */
/* Hapus Kuis Start */
/* Base styling for the entire container */
.hapus-kuis-container {
  display: flex;
}

/* Styling for the content area */
.hapus-kuis-content {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
 
}

/* Heading styling */
.hapus-kuis-content h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Select dropdown styling */
.quiz-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Delete button styling */
.delete-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #d9534f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for the delete button */
.delete-button:hover {
  background-color: #c9302c;
}

/* Message paragraph styling */
.message {
  margin-top: 20px;
  text-align: center;
  color: #d9534f;
}

/* Hapus Kuis End */
/* ********************************************************************** */